*{
	margin: 0 auto;
}
.blue {
	font-weight: bold;
	color: rgb(255,255,255);
}
.floatleft{
	float: left;
	width: 200px;
	background: green;
}
.rel{
	position: relative;
	left: 80px;
	top: 20px
	height: 100px;
	background-color: green;
}
.abs{
	position: absolute;
	left: 80px;
	top: 20px
	height: 100px;
	background-color: green;
}
.trail {
    position: absolute;
    height: 10px; width: 10px;
    border-radius: 6px;
    background: rgb(10,198,205);
  }
#test {
	font-family: "Times New Roman", serif;
	font-weight: bold;
	color: rgb(255,0,10);
}
#serialkillerfont {
	font-family: "Times New Roman", serif;
	font-weight: bold;
	color: green;
	/*top, right, bottom, left*/
	padding: 1px 1px;
	/*pushes the picture (border and all)*/
	/*this makes the box*/
	border-top: 3px solid #0c3396; 
	border-right: 3px solid #0c3396; 
	border-bottom: 3px solid #0c3396; 
	border-left: 3px solid #0c3396; 
}
#blackfont {
	font-family: "Times New Roman", serif;
	font-weight: bold;
	color: green;
	/*top, right, bottom, left*/
	padding: 1px 1px;
	/*pushes the picture (border and all)*/
	/*this makes the box*/
	border-top: 3px solid #000000; 
	border-right: 3px solid #000000; 
	border-bottom: 3px solid #000000; 
	border-left: 3px solid #000000; 
}
#sidebar{
	width: 30%;
	min-width: 200px
}
#centertable{
	font-family: "Times New Roman", serif;
	font-weight: bold;
	color: #0c3396;
	text-align: center;
}
#centernormal{
	font-family: "Times New Roman", serif;
	font-weight: bold;
	color: #0c3396;
	text-align: center;
}
#paddedbox{
	/*top, right, bottom, left*/
	padding: 1px 1px;
	/*pushes the picture (border and all)*/
	margin-left: 250px;
	/*this makes the box*/
	border-top: 3px solid #0c3396; 
	border-right: 3px solid #0c3396; 
	border-bottom: 3px solid #0c3396; 
	border-left: 3px solid #0c3396; 
}
#borderbox{
	border: 1px dotted #000000; 
	border-top: 3px solid #0c3396; 
	border-right: 3px solid #0c3396; 
	border-bottom: 3px solid #0c3396; 
	border-left: 3px solid #0c3396; 
	
}
body{
	color: #0c3396;
	background-color:#000000;
	width: 900px;
}
html{
	font-size: 100.0%; /*default size is 16 px */
}
h1,h2{
	font-family: "Times New Roman", serif;
	font-size: 2rem; /* 2x the HTML size */
	font-weight: bold;
}

p{
	font: 1rem Times New Roman, serif;
	text-align: center;
	word-wrap: break-word;
}


/*
This is for targeting links within paragraphs, hence the "a" following the "p".

p a {
	color: rgb(245,70,200);
}

*/

/* this makes it so if we hover over the link it turns red and italic.*/
a:hover{
	font-style: italic;
	color:#FF1B1B;
}

//from here on, these are all styles to get the modal (a worse version of a lightbox) working
#myImage {
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}

#myImage:hover {opacity: 0.9;}

.modal {
  display: none;
  position: fixed; //no reason to move
  z-index: 1; //make sure this actually ends up on top of the page
  padding-top: 100px; 
  left: 5px;
  top: 5px;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 20px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #FF43E5;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

